html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
    font-family: 'AllerRegular';
    src: url('fonts/aller_rg-webfont.eot');
    src: url('fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_rg-webfont.woff') format('woff'),
         url('fonts/aller_rg-webfont.ttf') format('truetype'),
         url('fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
}

body {
	background-color: black;
	display: table;
	width: 100%;
 	height: 100%;
	color: white;
	font-family: 'AllerRegular';
	font-size: 1em;
	line-height: 1.2em;

}

#page {
	display: table-cell;
	vertical-align: middle;
}

#box {
  position: relative;
	width: 100%;
	min-width: 968px;
}

.image {
	width: 100%;
}

#experience {
	position: absolute;
	left: 5%;
	top: 5%;
	font-size: 2em;
	line-height: 1.2em;
}

#about {
  position: absolute;
	right: 5%;
	top: 38%;
	width: 50%;
	max-width: 600px;
	font-size: 1em;
	background-image: url(images/black40percent.png);
	background-repeat: repeat;
}

#about .inner {
	padding: 26px 34px 28px 34px;
}

#about span {
	display: block;
}

#about strong {
  font-size: 3em;
	line-height: 1.2em;
}

#links {
  position: absolute;
	left: 5%;
	bottom: 5%;
	width: 30%;
}

#links a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding-right: 6px;
	text-indent: -3000px;
	width: 30px;
	height: 31px;
	background-repeat: no-repeat;
}

#links a.facebook {	background-image: url(images/facebook.png); }
#links a.twitter {	background-image: url(images/twitter.png); }
#links a.linkedin {	background-image: url(images/linkedin.png); }
#links a.googleplus {	background-image: url(images/googleplus.png); }
#links a.email {	background-image: url(images/email.png); }
#links a.newpage {	background-image: url(images/newpage.png); }



@media (max-width:480px) {
	body { width: 300% }
}

@media (min-width:1200px) {
	#experience { font-size: 2.5em; }
	#about { max-width: 800px; font-size: 1.1em; }
	#about strong { font-size: 3.5em; }
}

@media (min-width:1600px) {
	#experience { font-size: 3em; }
	#about { max-width: 800px; font-size: 1.3em; }
	#about strong { font-size: 3.5em; line-height: 1.3em }
}